nz-page-header {
    background: #001529;
    padding: 12px;
}

nz-page-header-extra {
    display: flex;
    align-items: center;
}

img {
    width: 100%;
}

@media (min-width: 575px) {
    img {
        height: 30%;
        object-fit: cover;
    }
}
