<div nz-flex nzJustify="space-around" nzAlign="center">
    <h3>Select a date:</h3>
    <a nz-button nzType="text" nz-popover [nzPopoverContent]="dateSelector" nzPopoverPlacement="bottomRight"
        [(nzPopoverVisible)]="datePickerOpen"><span nz-icon nzType="calendar"></span></a>
    <ng-template #dateSelector>
        <nz-date-picker nzInline nzMode="date" [ngModel]="selectedDate()" (ngModelChange)="pickDate($event)" [nzDisabledDate]="disabledDate" nzShowToday="false" >
        </nz-date-picker>
    </ng-template>
</div>
<div nz-flex nzGap="middle" nzJustify="center">
    @for (date of dateOptions(); track date.valueOf()) {
    <button nz-button nz-flex nzAlign="center" nzSize="large"
        [nzType]="compareDateComponent(date, selectedDate()) === 0 ? 'primary': 'default'"
        (click)="selectDate.emit(date)" [style.box-sizing]="'content-box'">
        <date-component [date]="date" [isToday]="compareDateComponent(date, today) === 0" />
    </button>
    }
</div>