/* You can add global styles to this file, and also import other style files */
.ant-tabs-nav {
    margin-top: 8px !important;
}

.ant-layout-footer {
    background: #001529;
}

.ant-tabs-bottom>.ant-tabs-nav::before {
    border-bottom: 1px solid #001529;
}

.ant-page-header-back-button {
    color: #fff;
}

.ant-page-header-heading-title {
    color: #fff;
}

.ant-descriptions-item-content {
    font-size: 15px;
    justify-content: center;
}

.ant-popover-inner-content {
    padding: 0;
}

.ant-input-number-handler-wrap {
    display: none;
}

.ant-input-number-input {
    text-align: center;
}

.ant-input-number-group-addon {
    padding: 0;
}